#product-card-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card{
    width: max(min(calc( 30% + 10px ),300px),200px);
    height: 500px;
    background-color: #a12727;
    margin: 10px;
}

